streamlit
pandas
xlsxwriter
python-docx
requests
openpyxl
xlrd
lxml
html5lib
google-generativeai
groq
Pillow
streamlit-js-eval
geopy
st-gsheets-connection
beautifulsoup4
selenium
webdriver-manager
gtts
streamlit-mic-recorder
edge-tts
streamlit-lottie
edge-tts
pytz
